.Aboutcontainer{
  height:100vh;
  display: flex;
  align-items: center;
  background-color: orangered;
}
.Aboutleft{
  width:70vw;
  margin:0 5vw;
  text-align: center;

}
.Aboutleft h1{
  margin-bottom:5vh;
}
.Aboutright{
  padding:25px;
  border-radius: 50%;
  border:2px solid black;
  box-shadow: 5px 8px rgb(0, 0, 0); 
}


