.Econtainer{
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
}
.Educontainer{
  height: 100vh;
  flex-grow:1;
}
.Educontainer h1{
  color:white;
  margin:15vh 20vw 2vh 2vw;
}
.tileContainer{
  position: absolute;
  top:25%;
}
.EduImage{
  flex-grow:1;
  padding:20px;
  position: absolute;
  right:10%;
  border-radius: 50%;
  border:2px solid rgb(247, 101, 79); 
  box-shadow: 5px 10px rgb(74, 11, 1); ;
}

