*{
  margin: 0;
  padding:0;
  overflow: hidden;
}
@font-face{
  font-family: "Bestermind";
  src: url("https://db.onlinewebfonts.com/t/58f07bc157a628f8269bca53316beeed.eot");
  src: url("https://db.onlinewebfonts.com/t/58f07bc157a628f8269bca53316beeed.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/58f07bc157a628f8269bca53316beeed.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/58f07bc157a628f8269bca53316beeed.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/58f07bc157a628f8269bca53316beeed.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/58f07bc157a628f8269bca53316beeed.svg#Bestermind")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

#signature{
  margin:30px 30px;
  font-size:50px;
  color:rgb(43, 43, 43);
  font-weight: bold;
  font-family:"Bestermind";
  
}

.container {
  display: flex;
  height:100vh; 
  width: 100vw;
}

.left {
  background-color: orangered; 
  width: 30vw;
}

.right {
  background-color:black; 
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  
  /* align-items: center; */
  
}

.myDescription {
  color:white;
   /* Optional: some padding for better readability */
  border-radius: 8px; /* Optional: rounded corners */
  max-width: 40%; /* Optional: limit the width of the content */
  margin: -5vh auto 0 auto;
}
.myDescription p {
  padding-top:10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile-image {
  position: absolute; 
  top: 50%; 
  left:30vw; 
  transform: translate(-50%, -50%); 
  padding:0;
  width: 400px; 
  height: 400px;
  border-radius: 50%;
  
  border: 5px solid rgb(57, 13, 13);
}

.icon{
  color:black;
  width:20px;
  height:20px;
}