@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out;
  text-align: center;
  color:orangered;
  margin-top: 20vh;
}

.projectContainer{
  background-color: black;
  height:100vh;
}

